/*HEADER & NAV */
.rounded-circle {
  height: 150px;
  margin-right: 5px;
}

#banner {
  letter-spacing: 1px;
  font-weight: 900;
  text-shadow: -3px 7px 4px #5bc5d7;
  font-style: italic;
  color: #cc313d;
  font-size: 45px;
}

.py-3 {
  background-color: #0a5a89;
}

.nav-item button {
  margin-right: 5px;
  color: white;
  margin-left: 20px;
}

.repair-container {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  color: #444555;
}

.visual-hero {
  height: 34vh;
  background:
    linear-gradient(rgba(205, 180, 180, 0.4)),
    url("../IMG/tho-dien-lanh-goitho.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  border-radius: 12px;
  margin-bottom: 40px;
}

.services-detail-list .row {
  display: block;
}

.services-detail-list .col-md-6 {
  width: 100%;
  position: relative;
}

.service-item::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 4px solid orange;
  border-radius: 50%;
}

.service-item::before {
  content: "";
  position: absolute;
  top: 25px;
  border: 10px solid transparent;
}

.img-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.table thead {
  display: none;
}

.table,
.table tbody {
  display: block;
  border: none;
}

.table tbody {
  position: relative;
  padding-left: 30px;
}

.table tbody::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(#0a5a89, #ff6b6b);
  border-radius: 10px;
}

.table tbody tr {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.table tbody tr::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 20px;
  width: 15px;
  height: 15px;
  background: #0a5a89;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 0 3px #ff6b6b;
}

.table td {
  display: block;
  border: none;
  padding: 5px 0;
  text-align: left !important;
}

/* footer */
footer {
  background-color: #0a5a89;
  color: white;
  padding-top: 15px;
}

.lienhe {
  color: white;
  text-decoration: none;
}

.lienhe:hover {
  color: red;
  text-decoration: underline;
}

#end1 span {
  font-weight: 600;
}

#privacyModal {
  color: black;
}

#end2 {
  margin-top: 30px;
  padding-bottom: 10px;
}